<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="/js/home/keyword_home.js" defer></script>
        <link rel="stylesheet" href="/css/home/dashboard.css">
    </head>
    <body>
        <div id="header">
            <div id="authcheck"></div>
            <div id="logIO"> </div>
       </div>

       <div id="upper-tabs">
        <div id="upper">
           <div><img src="image/keyword.png" width="50px" height="50px"></div>
           <div><h2>키워드 모아모아</h2></div>  
        </div>
            <div>
                <ul class="tabs">
                    <li><a href="/">키워드 입력</a></li>
                    <li><a href="/dashboard">대시보드</a></li>
                </ul>
            </div>
       </div>
        <div id="dash-board">
            <h2> 대시보드</h2>
            <div id="select-keyword"> 
                <select name="job">
                    <option value="">직업선택</option>
                    <option value="학생">학생</option>
                    <option value="회사원">회사원</option>
                    <option value="기타">기타</option>
                </select>
            </div>
        </div>
    </body>
</html>