<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/home/login.css">
        <script src="/js/home/login.js" defer></script>
        <title>login</title>
    </head>
    <body>
        <div class="login-page">
            <div class="form">
              <div class="login-form">
                <input id="id" type="text" placeholder="아이디"/>
                <input id="pw"type="password" placeholder="비밀번호"/>
                <button>로그인</button>
                <p class="message">아직 회원이 아니신가요?&nbsp;<a href="/register"> 회원가입</a></p>
              </div>
            </div>
          </div>
    </body>
</html>


 