<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/home/login.css">
        <script src="/js/home/register.js" defer></script>
        <title>login</title>
    </head>
    <body>
        <div class="login-page">
            <div class="form">
              <form class="login-form">
                <input id="name" type="text" placeholder="이름"/>
                <input id="id" type="text" placeholder="아이디"/>
                <input id="pw"type="password" placeholder="비밀번호"/>
                <input id="pw-confirm"type="password" placeholder="비밀번호 확인"/>
                <button>회원가입</button>
                <p class="message">이미 회원이신가요? <a href="/login">로그인하기</a></p>
              </form>
            </div>
          </div>
    </body>
</html>


 